.header__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width:940px) {
    .header__wraper {
        order: 1;
        padding-top: 27px;
    }
}